@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: "Comfortaa", serif !important;   
}
 table {
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 80px;
    border-radius: 0.75rem;
 }

